/* .main {
  visibility: hidden;
} */

.button.faq__button {
  background-color: var(--color--accent);
  background-image: url(https://cdn.prod.website-files.com/66d341e94043ca74b6b76681/66d59c8acacef18abbd1ac2d_arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.button.faq__button:disabled {
  background-image: none;
}

.footer-video {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .footer-video {
    position: absolute;
    right: 0;
    top: 12.5rem;
    width: 100%;
  }
}
